<header class="header">
  <nav class="nav">
    <div class="nav_link">
      <a href="/">Home</a>
    </div>
    <div class="nav_link">
      <a href="/posts">Content</a>
    </div>
    <div class="nav_link">
      <a href="/create-post">Post it</a>
    </div>
  </nav>
</header>