<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

  <body>  
      <%- include("partials/header.ejs") %>

      <main class="container">


      <div class="content">
        <div class="home_text">

          <h2>
             Built in <a target="_blank" href="https://nodejs.org/en/about/">Node.js</a> using <a target="_blank", href="https://expressjs.com/ru/">Express.js</a>
          </h2>

        </div>

      </div>

      </main>

      <footer class="footer"></footer>
  </body>

</html>