<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/header.ejs") %>

    <main class="container">


      <div class="content">
        <div class="home_text">

          <h2>
            View post
          </h2>

        </div>

      </div>

    </main>

    <footer class="footer"></footer>

  </body>

</html>